* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  display: flex;
  width: 100%;
  height: 100%;
}

.menu img {
  width: 50%;
  height: auto;
  display: block;
}

@media (max-width: 1024px) {
  .menu {
    flex-direction: row;
    height: 100%;
  }

  .menu img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 992px) {
  .menu {
    flex-direction: row;
    height: 100%;
  }

  .menu img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }

  .menu img {
    width: 100%;
    height: auto;
  }
}
