* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    width: 100%;
    min-height: 100vh; 
}

.menu img {
    width: 100%;
    height: 110vh;     
    object-fit: cover;
    display: block;
}


@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        min-height: auto;
    }

    .menu img {
        width: 100%;
        height: auto;
    }
}
